{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>CV Marc HOUNTO</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!-- Bootstrap CSS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="script.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                      <li><a href="#about">ME</a></li>
                      <li><a href="#skills">SKILLS</a></li>
                      <li><a href="#experience">EXPERIENCE</a></li>
                      <li><a href="#education">EDUCATION</a></li>

                  </ul>
              </div>

      </nav>
      <section id="about" class="container-fluid">
          <div class="col-xs-8 col-md-4 profile-picture">
              <img src="../static/imgs/computer.jpg" alt="Marc" class="img-circle">
          </div>
          <div class="heading">
              <h1>Hello, I am Marc  </h1>
              <h3>Software Engineer</h3>
              <a href="../static/docs/CV_FINAL.pdf" class="button1">Download  CV</a>
          </div>
      </section>
      <section id="skills">
          <div class="divider"></div>
          <div class="heading">
              <h2>SKILLS</h2>
          </div>
              <div class="container -fluid">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemax="100" style="width: 85%;">
                            <h5>HTML, CSS, Javascript(angular) 85%</h5>
                        </div>
                          </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemax="100" style="width: 60%;">
                                <h5>Python 60%</h5>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemax="100" style="width: 40%;">
                                <h5>React 40%</h5>
                            </div>
                        </div>
                        
                        
                      </div>
                      <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemax="100" style="width: 20%;">
                                <h5>Docker 20%</h5>
                            </div>
                        </div>
                        
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemax="100" style="width: 60%;">
                                <h5>Jquery 60%</h5>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemax="100" style="width: 60%;">
                                <h5>React 50%</h5>
                            </div>
                        </div>

                    </div>
                  </div>
              </div>
          

      </section>

    <section id="experience">
        <div class="divider"></div>
        <div class="container">
            <div class="white-divider"></div>
            <div class="heading">
                    <h2>EXPERIENCE</h2>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-badge"><span class="glyphicon glyphicon-briefcase"></span></div>
                    <div class="timeline-panel-container">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3>GLOBAL EAGLE</h3>
                                <h4> FullStack CMS development intern</h4>
                                <p class="text-muted"><small class="glyphicon glyphicon-time">May2019-August2019</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Contributed to the development of web applications of flying data management</p>
                                <p>ANGULAR. HTML5, CSS, JAVASCRIPT</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="second_panel">
                    <div class="timeline-badge"><span class="glyphicon glyphicon-briefcase"></span></div>
                    <div class="timeline-panel-container-inverted">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3>Thales Avionics</h3>
                                <h4> Intern in tools development</h4>
                                <p class="text-muted"><small class="glyphicon glyphicon-time">September2018-December2018</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Responsibilities:</p>
                                <p>development of tools for the software development platform.</p>
                                <p>Integration tests and functionnal tests(Python)</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section id="education">
        <div class="divider"></div>
        <div class="heading">
            <h2>EDUCATION</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="education-block">
                        <h5>2015-2020</h5>
                        <span class="glyphicon glyphicon-education"></span>
                        <h3>POLYTECHNIQUE MONTREAL</h3>
                        <h4>Baccalaureat en genie logiciel</h4>
                        <div class="divider"></div>
                        <p>HTML , CSS, JAVA, C++, JAVASCRIPT, ANGULAR. C#, PYTHON</p>
                        <p>GIT, UML, MACHINE LEARNING</p>
                        <p></p>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <footer class="text-center">
        <a href="#about"></a>
        <span class="glyphicon glyphicon-chevron-up"></span>
        <h5>Realise par Marc HOUNTO</h5>
    </footer>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>